<template>
  <div class="container">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">Vidcity</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="#">Upload Video</b-nav-item>
          <b-nav-item href="#">View Uploads</b-nav-item>
          <b-nav-item to="/room">Enter Room</b-nav-item>
          <b-nav-item to="/broadcast">Start Broadcast</b-nav-item>
          <b-nav-item to="/rtcdemo">Web Rtc Demo</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <template #button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item @click="goToLogin">Login</b-dropdown-item>
            <b-dropdown-item @click="goToRegister">Register</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <div style="padding-top: 10px">
    <router-view></router-view>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import socket from '../socket';
import Login from "./Login";
import {router} from "../app";

export default {
  name:'app',
  data() {
    return {
      message: "Hello from Vue!",
      showMessage: false,
      ids: [],
      channel: null
    }
  },
  components: {Login},
  methods: {
    sayHello: async function() {
      const result = await axios.get('/users/');
      this.ids.push(result.data)
    },
    openAtomDornlabs: function() {
      window.open("https://atom.dornlabs.com", "_blank");
    },
    goToRegister: async function () {
      await router.push({name: 'Register'})
    },
    goToLogin: async function () {
      await router.push({name: 'Login'})
    }
  },
  mounted: async function() {
  },
  created() {
    console.log("Vue component created")
  }
}
</script>


<style>
.vue-message {
  text-align: center;
  font-size: 2em;
}
</style>
