<template>
  <div>
    <section class="select">
      <label for="audioSource">Audio source: </label>
      <select id="audioSource"></select>
    </section>
    <section class="select">
      <label for="videoSource">Video source: </label>
      <select id="videoSource"></select>
    </section>
    <video playsinline autoplay muted></video>
  </div>
</template>

<script>

import socket from '../socket';

export default {
  name: 'Room',
  computed: {},
  data() {
    return {
      channel: null,
      channelBroadcaster: null,
      channelWatcher: null,
      channelCandidate: null,
      peerConnections: {},
      audioSelect: null,
      videoSelect: null,
      videoElement: null,
      config: {
        iceServers: [
          {
            "urls": "stun:dornlabs.com:3478",
          },
        ]
      }
    }
  },
  methods: {
    gotStream(stream) {
      window.stream = stream;
      this.audioSelect.selectedIndex = [...this.audioSelect.options].findIndex(
          option => option.text === stream.getAudioTracks()[0].label
      );
      this.videoSelect.selectedIndex = [...this.videoSelect.options].findIndex(
          option => option.text === stream.getVideoTracks()[0].label
      );
      this.videoElement.srcObject = stream;
      this.channelBroadcaster.push('vidcity:broadcaster', {});
    },
    getStream() {
      if (window.stream) {
        window.stream.getTracks().forEach(track => {
          track.stop();
        });
      }
      const audioSource = this.audioSelect.value;
      const videoSource = this.videoSelect.value;
      const constraints = {
        audio: { deviceId: audioSource ? { exact: audioSource } : undefined },
        video: { deviceId: videoSource ? { exact: videoSource } : undefined }
      };
      return navigator.mediaDevices
          .getUserMedia(constraints)
          .then(this.gotStream)
          .catch(this.handleError);
    },
    handleError(error) {
      console.error("Error: ", error);
    },
    getDevices() {
      return navigator.mediaDevices.enumerateDevices();
    },
    gotDevices(deviceInfos) {
      window.deviceInfos = deviceInfos;
      for (const deviceInfo of deviceInfos) {
        const option = document.createElement("option");
        option.value = deviceInfo.deviceId;
        if (deviceInfo.kind === "audioinput") {
          option.text = deviceInfo.label || `Microphone ${this.audioSelect.length + 1}`;
          this.audioSelect.appendChild(option);
        } else if (deviceInfo.kind === "videoinput") {
          option.text = deviceInfo.label || `Camera ${this.videoSelect.length + 1}`;
          this.videoSelect.appendChild(option);
        }
      }
    }
  },
  mounted() {

    this.videoElement = document.querySelector("video");
    this.channelExample = socket.channel('vidcity:example', {});
    this.channelBroadcaster = socket.channel('vidcity:broadcaster', {});
    this.channelWatcher = socket.channel('vidcity:watcher', {});
    this.channelAnswer = socket.channel('vidcity:answer', {});
    this.channelCandidate = socket.channel('vidcity:candidate', {});
    this.channelOffer = socket.channel('vidcity:offer', {});
    this.channelDisconnect = socket.channel('vidcity:disconnect', {});

    this.channelExample.join()
        .receive("ok", resp => { console.log("Joined successfully", resp) })
        .receive("error", resp => { console.log("Unable to join", resp) })

    this.channelBroadcaster.join()
        .receive("ok", resp => { console.log("Joined successfully", resp) })
        .receive("error", resp => { console.log("Unable to join", resp) })

    this.channelWatcher.join()
        .receive("ok", resp => { console.log("Joined successfully", resp) })
        .receive("error", resp => { console.log("Unable to join", resp) })

    this.channelAnswer.join()
        .receive("ok", resp => { console.log("Joined successfully", resp) })
        .receive("error", resp => { console.log("Unable to join", resp) })

    this.channelCandidate.join()
        .receive("ok", resp => { console.log("Joined successfully", resp) })
        .receive("error", resp => { console.log("Unable to join", resp) })

    this.channelOffer.join()
        .receive("ok", resp => { console.log("Joined successfully", resp) })
        .receive("error", resp => { console.log("Unable to join", resp) })

    this.channelDisconnect.join()
        .receive("ok", resp => { console.log("Joined successfully", resp) })
        .receive("error", resp => { console.log("Unable to join", resp) })

    this.channelBroadcaster.push('vidcity:broadcaster', {});

    this.channelWatcher.push('vidcity:watcher', {});

    this.channelWatcher.on('vidcity:watcher', (data) => {
      console.log(data);
    })

    this.audioSelect = document.querySelector("select#audioSource");
    this.videoSelect = document.querySelector("select#videoSource");
    this.audioSelect.onchange = this.getStream;
    this.videoSelect.onchange = this.getStream;

    this.getStream()
        .then(this.getDevices)
        .then(this.gotDevices);

    this.channelAnswer.on("vidcity:answer", (id, description) => {
      this.peerConnections[id].setRemoteDescription(description);
    });

    this.channelWatcher.on("vidcity:watcher", id => {
      const peerConnection = new RTCPeerConnection(this.config);
      this.peerConnections[id] = peerConnection;
      let stream = this.videoElement.srcObject;

      stream.getTracks().forEach(track => peerConnection.addTrack(track, stream));

      peerConnection.onicecandidate = event => {
        if (event.candidate) {
          this.channelCandidate.push("vidcity:candidate", id, event.candidate);
        }
      };

      peerConnection
          .createOffer()
          .then(sdp => peerConnection.setLocalDescription(sdp))
          .then(() => {
            this.channelOffer.push("vidcity:offer", id, peerConnection.localDescription);
          });
    });

    this.channelCandidate.on("vidcity:candidate", (id, candidate) => {
      this.peerConnections[id].addIceCandidate(new RTCIceCandidate(candidate));
    });

    this.channelDisconnect.on("vidcity:disconnect", id => {
      this.peerConnections[id].close();
      delete this.peerConnections[id];
    });
  }
}
</script>
