<template>
  <div style="padding-top: 10px">
    <b-jumbotron bg-variant="info" text-variant="white" border-variant="dark">
      <template #header>Welcome to Vidcity</template>

      <template #lead>
        A video streaming site.
      </template>

      <hr class="my-4">

      <p>
        You can upload videos and share them with your friends. Just set up jenkins deployment for elixir
      </p>
    </b-jumbotron>
  </div>

</template>


<script>
import axios from 'axios';
import socket from '../socket';
import Login from "./Login";

export default {
  name:'Home',
  data() {
    return {
      message: "Hello from Vue!",
      showMessage: false,
      ids: [],
      channel: null
    }
  },
  components: {Login},
  methods: {
    sayHello: async function() {
    },
    sayPost: async function() {
      const result = await axios.post('/users/create/', {
        username: 'Thomas Dorn',
        password: 'password'
      }, {
        headers: {
          "X-CSRF-Token": localStorage.getItem("cross-token")
        }
      });
      this.ids.push(result.data)
      this.channel.push('example:broadcast', {message:result.data})
    }
  },
  mounted: async function() {
    // this.channel = socket.channel('example:broadcast', {})
    // this.channel.join()
    //     .receive("ok", resp => { console.log("Joined successfully", resp) })
    //     .receive("error", resp => { console.log("Unable to join", resp) })
  },
  created() {
    console.log("Vue component created")
  }
}
</script>


<style>
.vue-message {
  text-align: center;
  font-size: 2em;
}
</style>
