<template>
  <div>
    <b-form @submit="onSubmit">
      <b-form-group
          id="input-group-1"
          label="Your Username"
          label-for="input-1"
          description="We'll never share your email with anyone else."
      >
        <b-form-input
            id="input-1"
            v-model="username"
            type="email"
            required
            placeholder="Enter email"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-2" label="Your Password:" label-for="input-2">
        <b-form-input
            id="input-2"
            v-model="password"
            required
            placeholder="Enter name"
            :type="'password'"
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>

<script>

import ApiService from "../services/Api.service";
import {router} from "../app";

export default {
  name: 'Login',
  data() {
    return {
      username: null,
      password: null,
    }
  },
  methods: {
    onSubmit: async function () {
      const result = await ApiService.loginUser(this.username, this.password);
      if (result.response.status === "success") {
        await router.push({name: 'Profile'})
      } else {
        alert(result.response.message)
      }
    }
  }
}
</script>