<template>
  <div style="padding-top: 10px">
    <ul id="example-1">
      <li v-for="item in messages">
        {{ item.body.message }}
      </li>
    </ul>
    <div>
      <b-form-input v-model="text" placeholder="Send Message"></b-form-input>
    </div>
    <div class = "container" style="padding-top: 10px;">
      <b-button type="submit" variant="primary" @click="sendMessage">Submit</b-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import socket from '../socket';
import Login from "./Login";


export default {
  name:'Profile',
  data() {
    return {
      message: "Hello from Vue!",
      showMessage: false,
      ids: [],
      channel: null,
      messages: [],
      text: ''
    }
  },
  components: {Login},
  methods: {
    sendMessage: async function () {
      this.text = '';
    }
  },
  mounted: async function() {
  },
  created() {
    console.log("Vue component created")
  }
}
</script>


<style>
.vue-message {
  text-align: center;
  font-size: 2em;
}
</style>
