<template>
  <div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
      >
        <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            required
            placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Your Password" label-for="input-2">
        <b-form-input
            id="input-2"
            v-model="password"
            required
            placeholder="Enter password"
            :type="'password'"

        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Fullname" label-for="input-2">
        <b-form-input
            id="input-2"
            v-model="form.fullname"
            required
            placeholder="Enter password"
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  </div>
</template>

<script>

import ApiService from "../services/Api.service";
import {router} from "../app";

export default {
  name: 'Register',
  computed: {
    // getEncodedPassword: function() {
    //   const passwordLength = this.password.length;
    //   let pass = '';
    //   for(let i; i<passwordLength; i++) {
    //     pass = pass + '*'
    //   }
    //   return pass
    // }
  },
  data() {
    return {
      password: '',
      form: {
        fullname: '',
        email: '',
      },
      show: true
    }
  },
  methods: {
    async onSubmit(evt) {
      const result = await ApiService.createUser(
          this.form.fullname,
          this.form.email,
          this.password
      );
      if (result.response.message === "user found") {
        alert(result.response.message)
        await router.push({name: 'Home'})
      } else {
        await router.push({name: 'Home'})
      }

    },
    onReset(evt) {
      evt.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.name = ''
      this.form.food = null
      this.form.checked = []
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
