<template>
  <div>
    <video playsinline autoplay muted></video>
    <p>Test for jenkins</p>
  </div>
</template>

<script>

import ApiService from "../services/Api.service";
import {router} from "../app";
import socket from '../socket';

export default {
  name: 'Room',
  computed: {
  },
  data() {
    return {
      channel: null,
      peerConnections: {},
      config: {
        iceServers: [
          {
            "urls": "stun:stun.l.google.com:19302",
          },
        ]
      }
    }
  },

  mounted() {
    this.channel = socket.channel('vidcity', {})
    this.channel.join()
        .receive("ok", resp => { console.log("Joined successfully", resp) })
        .receive("error", resp => { console.log("Unable to join", resp) })
    this.channel.on("new_msg", payload => {
      this.messages.push(payload)
    })
    this.channel.on("answer", (id, description) => {
      this.peerConnections[id].setRemoteDescription(description);
    });

    this.channel.on("watcher", id => {
      const peerConnection = new RTCPeerConnection(config);
      this.peerConnections[id] = peerConnection;

      let stream = this.$refs.video.srcObject;
      stream.getTracks().forEach(track => peerConnection.addTrack(track, stream));

      peerConnection.onicecandidate = event => {
        if (event.candidate) {
          socket.emit("candidate", id, event.candidate);
        }
      };

      peerConnection
          .createOffer()
          .then(sdp => peerConnection.setLocalDescription(sdp))
          .then(() => {
            socket.emit("offer", id, peerConnection.localDescription);
          });
    });

    this.channel.on("candidate", (id, candidate) => {
      this.peerConnections[id].addIceCandidate(new RTCIceCandidate(candidate));
    });

    this.channel.on("disconnectPeer", id => {
      this.peerConnections[id].close();
      delete this.peerConnections[id];
    });
  }
}
</script>
