<template>
  <div>
    <label for="local-stream">Local Video Stream</label>
    <video id="local-stream" autoplay muted></video>
    <label for="remote-stream">Remote Video Stream</label>
    <video id="remote-stream" autoplay></video>
    <video playsinline autoplay muted></video>

    <button id="connect">Connect</button>
    <button id="call">Call</button>
    <button id="disconnect">Disconnect</button>

  </div>
</template>

<script>

import socket from '../socket';

export default {
  name: 'Room',
  computed: {
  },
  data() {
    return {
      channel: null,
      channelBroadcaster: null,
      channelWatcher: null,
      channelCandidate: null,
      peerConnection: null,
      peerConnections: {},
      audioSelect: null,
      videoSelect: null,
      videoElement: null,
      remoteStream: null,
    }
  },
  methods: {
    disconnect: function() {
        this.connectButton.disabled = false;
        this.disconnectButton.disabled = true;
        this.callButton.disabled = true;
        this.unsetVideoStream(this.localVideo);
        this.unsetVideoStream(this.remoteVideo);
        this.peerConnection.close();
        this.peerConnection = null;
        this.remoteStream = new MediaStream();
        this.setVideoStreamRemote(this.remoteStream);
        this.pushPeerMessage('disconnect', {});
    },
    handleIceCandidate: function(event) {
      if (!!event.candidate) {
        this.pushPeerMessage('ice-candidate', event.candidate);
      }
    },
    call: async function() {
      let offer = await this.peerConnection.createOffer();
      await this.peerConnection.setLocalDescription(offer);
      this.pushPeerMessage('video-offer', offer);
    },
    answerCall: async function(offer) {
      this.receiveRemote(offer);
      let answer = await this.peerConnection.createAnswer();
      this.peerConnection
          .setLocalDescription(answer)
          .then(() =>
              this.pushPeerMessage('video-answer', this.peerConnection.localDescription)
          );
    },
    receiveRemote: function(offer) {
      let remoteDescription = new RTCSessionDescription(offer);
      this.peerConnection.setRemoteDescription(remoteDescription);
    },
    handleOnTrack: function(event) {
      this.log(event);
      this.remoteStream.addTrack(event.track);
    },
    unsetVideoStream: function() {
      if (this.localVideo.srcObject) {
        this.localVideo.srcObject.getTracks().forEach(track => track.stop());
      }
      this.localVideo.removeAttribute('src');
      this.localVideo.removeAttribute('srcObject');
    },
    log: function(log) {
      console.log(log)
    },
    setVideoStreamLocal: function(stream) {
      this.localVideo.srcObject = stream;
    },
    setVideoStreamRemote: function(stream) {
      this.remoteVideo.srcObject = stream;
    },
    createPeerConnection: async function(stream) {
      let pc = new RTCPeerConnection({
        iceServers: [
          // Information about ICE servers - Use your own!
          {
            urls: 'stun:dornlabs.com:3478',
          },
        ],
      });
      pc.ontrack = this.handleOnTrack;
      pc.onicecandidate = this.handleIceCandidate;
      stream.getTracks().forEach(track => pc.addTrack(track));
      return pc;
    },

    connect: async function() {
      this.connectButton.disabled = true;
      this.disconnectButton.disabled = false;
      this.callButton.disabled = false;
      this.localStream = await this.devices.getUserMedia(this.mediaConstraints);
      this.setVideoStreamLocal(this.localStream);
      this.peerConnection = await this.createPeerConnection(this.localStream);
    },
    reportError(error) {
      console.log(error)
    },
    pushPeerMessage(type, content) {
      this.channel.push('peer-message', {
        body: JSON.stringify({
          type,
          content,
        }),
      });
    },
    gotStream(stream) {

    },
    getStream() {
      if (window.stream) {
        window.stream.getTracks().forEach(track => {
          track.stop();
        });
      }
      const audioSource = this.audioSelect.value;
      const videoSource = this.videoSelect.value;
      const constraints = {
        audio: { deviceId: audioSource ? { exact: audioSource } : undefined },
        video: { deviceId: videoSource ? { exact: videoSource } : undefined }
      };
      return navigator.mediaDevices
          .getUserMedia(constraints)
          .then(this.gotStream)
          .catch(this.handleError);
    },
    handleError(error) {
      console.error("Error: ", error);
    },
  },
  mounted() {
    this.channel = socket.channel('video:peer2peer', {});
    this.channel
        .join()
        .receive('ok', resp => {
          console.log('Joined successfully', resp);
        })
        .receive('error', resp => {
          console.error('Unable to join', resp);
        });
    this.mediaConstraints = {
      audio: true,
      video: true,
    };
    this.devices = navigator.mediaDevices;
    this.connectButton = document.getElementById('connect');
    this.callButton = document.getElementById('call');
    this.disconnectButton = document.getElementById('disconnect');
    this.remoteVideo = document.getElementById('remote-stream');
    this.localVideo = document.getElementById('local-stream');
    this.remoteStream = new MediaStream();
    this.setVideoStreamRemote(this.remoteStream);
    this.disconnectButton.disabled = true;
    this.callButton.disabled = true;
    this.connectButton.onclick = this.connect;
    this.callButton.onclick = this.call;
    this.disconnectButton.onclick = this.disconnect;
    this.channel.on('peer-message', payload => {
      console.log(payload);
      const message = JSON.parse(payload.body);
      switch (message.type) {
        case 'video-offer':
          console.log('offered: ', message.content);
          this.answerCall(message.content);
          break;
        case 'video-answer':
          this.log('answered: ', message.content);
          this.receiveRemote(message.content);
          break;
        case 'ice-candidate':
          this.log('candidate: ', message.content);
          this.candidate = new RTCIceCandidate(message.content);
          this.peerConnection
              .addIceCandidate(this.candidate)
              .catch(this.reportError('adding and ice candidate'));
          break;
        case 'disconnect':
          this.disconnect();
          break;
        default:
          this.reportError(message.type);
      }
    });

  }
}
</script>
